# Dependências do Projeto
# Use: pip install -r requirements.txt

# Biblioteca para validações
marshmallow==3.19.0

# Segurança e criptografia
passlib==1.7.4
python-jose==3.3.0

# Testes (opcional)
pytest==7.3.1

# Geração de UUIDs
uuid==1.30